<link rel="import" href="todo-list.html">
<link rel="import" href="../bower_components/deepstream.io-tools-polymer/ds-connection.html">
<link rel="import" href="../bower_components/deepstream.io-tools-polymer/ds-login.html">

<dom-module id="todo-app">
	<template>
		<style>
			#todo-app {
			background: #fff;
				border: 1px solid #ccc;
				padding: 10px;
				margin: 20px auto;
				width: 200px;
				border-radius: 3px;
				position: relative;
			}
		</style>
		
		<div id="todo-app" class$="[[connectionState]]">
			
			<ds-connection 
				url="localhost:6020" 
				state="{{connectionState}}"
				ds={{ds}}>
			</ds-connection>

			<template is="dom-if" if="[[ds]]">

				<ds-login 
					auto-login
					ds="[[ds]]">
				</ds-login>
			
				<todos-list 
					name="polymer_example/todos"
					ds="[[ds]]">
				</todos-list>
			
			</template>

		</div>
	</template>
	
	<script>
		Polymer({
			is: 'todo-app'
		});
	</script>

</dom-module>